<div class="list">
    <ul class="movie-list"> 
        <li ng-repeat="m in data">
            <div class="list-outer" itemscope itemtype="http://schema.org/Movie">
                <img ng-src="{{getImagePath(m.poster_path)}}" alt="movie poster" class="poster img-thumbnail pull-left" />
                <div class="content">
                    <div itemprop="name" class="name text-primary" ng-bind="m.title"></div>
                    <span class="text-success"><strong>overview</strong></span>
                    <p itemprop="description" class="desc text-warning" ng-bind="m.overview" title="{{m.overview}}"></p>
                    <!--<div class="pull-left">
                    </div>-->
                    <button class="btn btn-success pull-right" ng-class="m.btnClass" ng-click="showDetails(m)">Details >></button>
                </div> 
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>

